- title t('user.forgot_password.title')
%h2= t('user.forgot_password.title')
%br
= form_tag forgot_password_users_url(), {:id => 'forgot_password_form', :class => 'column-form'} do
  .label
    = label_tag :email, User.human_attribute_name(:email)
  .field
    = email_field_tag :email, nil, :autofocus => true
  %br
  %br
  = submit_tag t('user.get_new_password')
  =# t('common.or')
  =# link_to t('common.cancel'), login_users_path
