-title "Сезон 2011"
%article
  %h2.strong Сезон 2011
  %br
  Андалусия, Испания, отель Punta Sur (Тарифа). 15 сентября &mdash; 1 декабря 2011.
  %a.with-image{ href: 'http://www.facebook.com/groups/260723967284677/', style: 'color: #266caf'}
    = image_tag('icons/facebook.png', size: '16x16')
    %span> Группа в Facebook
  %br
  В 2011 году на сайте было зарегистрировано 35 проектов. 16 из них были отобраны для собеседования. 6 финалистов отправились в Испанию.
  %br
  %br
  %section
    %h4 Проекты-участники
    .row
      %article.span4
        %div{ style: 'height: 100px' }= link_to image_tag('season2011/logo_omg.jpg'), 'http://openpriority.com/ru/projects/it/omg/'
        %h6.inline= link_to 'Oh, My Guide!', 'http://openpriority.com/ru/projects/it/omg/', {style: 'color: #333;'}
        %span> &nbsp;&mdash; мобильный гид для тех, кто путешествует самостоятельно.
      %article.span4
        %div{ style: 'height: 100px' }= link_to image_tag('season2011/logo_qh.jpg'), 'http://openpriority.com/ru/projects/it/321/'
        %h6.inline= link_to 'QueryHunter', 'http://openpriority.com/ru/projects/it/321/', {style: 'color: #333;'}
        %span> &nbsp;&mdash; онлайн-биржа для продавцов и покупателей данных.
      %article.span4
        %div{ style: 'height: 100px' }= link_to image_tag('season2011/logo_mybuyco.jpg'), 'http://openpriority.com/ru/projects/e-commerce/317/'
        %h6.inline= link_to 'MyBuyCo', 'http://openpriority.com/ru/projects/e-commerce/317/', {style: 'color: #333;'}
        %span> &nbsp;&mdash; интернет-магазин нового поколения. Торг в онлайне отныне уместен!
    %br
    .row
      %article.span4
        %div{ style: 'height: 80px' }= link_to image_tag('season2011/logo_majakaja.jpg'), 'http://openpriority.com/ru/projects/social/majakaja/'
        %h6.inline= link_to 'Majakaja', 'http://openpriority.com/ru/projects/social/majakaja/', {style: 'color: #333;'}
        %span> &nbsp;&mdash; современный интернет-сервис для участников рынка жилищно-коммунальных услуг.
      %article.span4
        %div{ style: 'height: 80px' }= link_to image_tag('season2011/logo_magru.png'), 'http://openpriority.com/ru/projects/media/316/'
        %h6.inline= link_to 'Magru', 'http://openpriority.com/ru/projects/media/316/', {style: 'color: #333;'}
        %span> &nbsp;&mdash; интернет-площадка для публикации и хранения электронных документов.
      %article.span4
        %div{ style: 'height: 80px' }= link_to image_tag('season2011/logo_ifamous.jpg'), 'http://openpriority.com/ru/projects/media/305/'
        %h6.inline= link_to 'iFamous.me', 'http://openpriority.com/ru/projects/media/305/', {style: 'color: #333;'}
        %span> &nbsp;&mdash; цифровой глянцевый журнал нового поколения, где читатели становятся авторами.
    %br
  %h4 Видео
  =render :partial => 'season2011_video'
  %br>
  %br