-title "Season 2011"
%article
  %h2.strong Season 2011
  %br
  Andalusia, Spain, the Punta Sur Hotel (Tarifa). September, 15th – December, 1st, 2011.
  %a.with-image{ href: 'http://www.facebook.com/groups/260723967284677/', style: 'color: #266caf'}
    = image_tag('icons/facebook.png', size: '16x16')
    %span> Facebook group.
  %br
  In 2011 35 projects registered on the website, 16 of them were selected for an interview. 6 finalists travelled to Spain.
  %br
  %br
  %section
    %h4 Graduates
    .row
      %article.span4
        %div{ style: 'height: 100px' }= link_to image_tag('season2011/logo_omg.jpg'), 'http://openpriority.com/ru/projects/it/omg/'
        %h6.inline= link_to 'Oh, My Guide!', 'http://openpriority.com/ru/projects/it/omg/', {style: 'color: #333;'}
        %span> &nbsp;&mdash; a mobile guide for those who travel on their own.
      %article.span4
        %div{ style: 'height: 100px' }= link_to image_tag('season2011/logo_qh.jpg'), 'http://openpriority.com/ru/projects/it/321/'
        %h6.inline= link_to 'QueryHunter', 'http://openpriority.com/ru/projects/it/321/', {style: 'color: #333;'}
        %span> &nbsp;&mdash; an online exchange for the data buyers and sellers.
      %article.span4
        %div{ style: 'height: 100px' }= link_to image_tag('season2011/logo_mybuyco.jpg'), 'http://openpriority.com/ru/projects/e-commerce/317/'
        %h6.inline= link_to 'MyBuyCo', 'http://openpriority.com/ru/projects/e-commerce/317/', {style: 'color: #333;'}
        %span> &nbsp;&mdash; new generation e-store. Now there is a place for online bargaining!
    %br
    .row
      %article.span4
        %div{ style: 'height: 80px' }= link_to image_tag('season2011/logo_majakaja.jpg'), 'http://openpriority.com/ru/projects/social/majakaja/'
        %h6.inline= link_to 'Majakaja', 'http://openpriority.com/ru/projects/social/majakaja/', {style: 'color: #333;'}
        %span> &nbsp;&mdash; mobile solution for the real estate management market.
      %article.span4
        %div{ style: 'height: 80px' }= link_to image_tag('season2011/logo_magru.png'), 'http://openpriority.com/ru/projects/media/316/'
        %h6.inline= link_to 'Magru', 'http://openpriority.com/ru/projects/media/316/', {style: 'color: #333;'}
        %span> &nbsp;&mdash; an Internet platform to publish and store e-documents.
      %article.span4
        %div{ style: 'height: 80px' }= link_to image_tag('season2011/logo_ifamous.jpg'), 'http://openpriority.com/ru/projects/media/305/'
        %h6.inline= link_to 'iFamous.me', 'http://openpriority.com/ru/projects/media/305/', {style: 'color: #333;'}
        %span> &nbsp;&mdash;  a new generation digital glossy magazine where readers turn into authors.
    %br
  %h4 Video
  =render :partial => 'season2011_video'
  %br>
  %br