-title "Сезон 2011"
%article
  %h2.strong Сезон 2011
  %br
  Andalusia, Spain, Punta Sur Hotel (near Tarifa town). September, 15 &mdash; December, 1 2011.
  %a.with-image{ href: 'http://www.facebook.com/groups/260723967284677/', style: 'color: #266caf'}
    = image_tag('icons/facebook.png', size: '16x16')
    %span> Группа в Facebook
  %br
  В 2011 году на сайте было зарегистрировано 35 проектов. 16 из них были отобраны для собеседования. 6 финалистов отправились в Испанию.
  %br
  %br
  %section
    %h4 Проекты-участники
    .row
      %article.span4
        %div{ style: 'height: 100px' }= link_to image_tag('season2011/logo_omg.jpg'), 'http://openpriority.com/ru/projects/it/omg/'
        %h6.inline= link_to 'Oh, My Guide!', 'http://openpriority.com/ru/projects/it/omg/', {style: 'color: #333;'}
        %span> &nbsp;&mdash; мобильный гид для тех, кто путешествует самостоятельно.
      %article.span4
        %div{ style: 'height: 100px' }= link_to image_tag('season2011/logo_qh.jpg'), 'http://openpriority.com/ru/projects/it/321/'
        %h6.inline= link_to 'QueryHunter', 'http://openpriority.com/ru/projects/it/321/', {style: 'color: #333;'}
        %span> &nbsp;&mdash; онлайн-биржа для продавцов и покупателей данных.
      %article.span4
        %div{ style: 'height: 100px' }= link_to image_tag('season2011/logo_mybuyco.jpg'), 'http://openpriority.com/ru/projects/e-commerce/317/'
        %h6.inline= link_to 'MyBuyCo', 'http://openpriority.com/ru/projects/e-commerce/317/', {style: 'color: #333;'}
        %span> &nbsp;&mdash; интернет-магазин нового поколения. Торг в онлайне отныне уместен!
    %br
    .row
      %article.span4
        %div{ style: 'height: 80px' }= link_to image_tag('season2011/logo_majakaja.jpg'), 'http://openpriority.com/ru/projects/social/majakaja/'
        %h6.inline= link_to 'Majakaja', 'http://openpriority.com/ru/projects/social/majakaja/', {style: 'color: #333;'}
        %span> &nbsp;&mdash; современный интернет-сервис для участников рынка жилищно-коммунальных услуг.
      %article.span4
        %div{ style: 'height: 80px' }= link_to image_tag('season2011/logo_magru.png'), 'http://openpriority.com/ru/projects/media/316/'
        %h6.inline= link_to 'Magru', 'http://openpriority.com/ru/projects/media/316/', {style: 'color: #333;'}
        %span> &nbsp;&mdash; интернет-площадка для публикации и хранения электронных документов.
      %article.span4
        %div{ style: 'height: 80px' }= link_to image_tag('season2011/logo_ifamous.jpg'), 'http://openpriority.com/ru/projects/media/305/'
        %h6.inline= link_to 'iFamous.me', 'http://openpriority.com/ru/projects/media/305/', {style: 'color: #333;'}
        %span> &nbsp;&mdash; цифровой глянцевый журнал нового поколения, где читатели становятся авторами.
    %br
  %h4 Видео
  =render :partial => 'season2011_video'
  %br
  %br
  %h4 Блог
  .row
    .span12
      %span 01.12.2011&nbsp;
      %strong>= link_to 'Выпускной в стартап-инкубаторе «Tetuan Valley» в Мадриде', 'season2011/1'
      %span &nbsp;&mdash; Захар Кириллов, Majakaja.
      %br>
      %span 25.11.2011&nbsp;
      %strong>= link_to 'Ярмарка интернет-проектов «Spanish Village» в Марбелье', 'season2011/2'
      %span &nbsp;&mdash; Сергей Иваненко, координатор.
      %br>
      %span 02.11.2011&nbsp;
      %strong>= link_to 'Инженерный день в «Spanish Village»', 'season2011/3'
      %span &nbsp;&mdash; Захар Кириллов, Majakaja.
      %br>
      %span 27.10.2011&nbsp;
      %strong>= link_to 'Конференция «Emtech Spain» в Малаге', 'season2011/4'
      %span &nbsp;&mdash; Александр Ковалев, QueryHunter.
      %br>
      %span 23.10.2011&nbsp;
      %strong>= link_to 'Один день из жизни резидентов «Spanish Village»', 'season2011/5'
      %span &nbsp;&mdash; Таисия Серебрякова, Oh, My Guide.
      %br>
      %span 20.10.2011&nbsp;
      %strong>= link_to 'Первый месяц в бизнес-акселераторе «Spanish Village»', 'season2011/6'
      %span &nbsp;&mdash; Давид и Георгий Джанелидзе, iFamous.me.
      %br>
      %span 15.10.2011&nbsp;
      %strong>= link_to 'Идеи ничего не стоят', 'season2011/7'
      %span &nbsp;&mdash; Павел Каштанов, QueryHunter.
      %br>
      %span 13.10.2011&nbsp;
      %strong>= link_to 'Программа поездки в технопарк «IDEA!» в Малаге', 'season2011/8'
      %span &nbsp;&mdash; Сергей Иваненко, координатор.
      %br>
      %span 07.10.2011&nbsp;
      %strong>= link_to 'Первые впечатления от бизнес-акселератора «Spanish Village»', 'season2011/9'
      %span &nbsp;&mdash; Александр Ковалев, QueryHunter.
      %br>
      %span 16.09.2011&nbsp;
      %strong>= link_to 'Старт сезона-2011 в «Spanish Village»', 'season2011/10'
      %span &nbsp;&mdash; Сергей Иваненко, координатор.
  %br>
  %h4 Медиа
  .row
    .span12
      %span 23.12.2011&nbsp;
      %strong>= link_to 'Отчет о презентации первого урожая бизнес-акселератора «Spanish Village»', 'http://startupafisha.ru/about/news/item/otchet-o-prezentacii-1-go-urozhaya-biznes-akselera/', :rel => 'nofollow'
      %span &nbsp;&mdash; СтартапАфиша.
      %br>
      %span 20.12.2011&nbsp;
      %strong>= link_to 'Проект магистранта МТЕ в «Spanish Village»', 'http://mte.ifmo.ru/archives/969', :rel => 'nofollow'
      %span &nbsp;&mdash; кафедра MTE СПбГУ ИТМО
      %br>
      %span 14.12.2011&nbsp;
      %strong>= link_to '«Spanish Village 2011» закрылась, да здравствует «Spanish Village 2012»', 'http://openpriority.com/ru/company/news/229/'
      %span &nbsp;&mdash; УК «Приоритет».
      %br>
      %span 19.11.2011&nbsp;
      %strong>= link_to 'Начните бизнес в «Spanish Village»', 'http://i-marbella.ru/News/news/interview-with-dmitry-parshkov-founder-of-the-spanish-village-business-accelerator-tr', :rel => 'nofollow'
      %span &nbsp;&mdash; i-Marbella.ru.
      %br>
      %span 08.06.2011&nbsp;
      %strong>= link_to 'International Early-Stage Startup Program in Spain', 'http://www.arcticstartup.com/2011/06/08/international-early-stage-startup-program-in-spain', :rel => 'nofollow'
      %span &nbsp;&mdash; ArcticStartup.
      %br>
      %span 07.06.2011&nbsp;
      %strong>= link_to 'Со своим стартапом в Испанию', 'http://www.biztimes.ru/index.php?artid=2562', :rel => 'nofollow'
      %span &nbsp;&mdash; BizTimes.
      %br>
      %span 26.05.2011&nbsp;
      %strong>= link_to 'Три месяца в Испании для вашего стартапа', 'http://habrahabr.ru/company/startuppoint/blog/120020/', :rel => 'nofollow'
      %span &nbsp;&mdash; StartupPoint@Хабрахабр
  %br>
  %br